.expense-design{
    padding: 2px;
    margin: auto;
    background-color: rgb(20, 18, 18);
    width: 50%;
    max-width: 100%;
    border-radius: 15px; 
    box-shadow: 0px 1px 8px rgba(0,0,0.25);
}
@media screen and (min-width:320px) and (max-width:600px) {
    .expense-design{
        width: 80%;
    }    
}
